.wrapper {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.btn {
  width: 100%;
  padding: 2vmax 0;
  font-size: 1.5vmax;
}

.btn:hover {
  color: var(--blue);
}

.secondary {
  padding: 1vmax 0;
  font-size: 1.2vmax;
}

.top {
  margin-top: 1vmax;
  border-radius: 1vmax 1vmax 0 0;
}

.middle {
  border-radius: 0;
}
.middle:hover {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}

.bottom {
  border-radius: 0 0 1vmax 1vmax;
}

.bottom:hover {
  border: 1px solid var(--red);
  color: var(--red);
}