header {
  grid-column: 1;
  grid-row: 1;
  width: calc(100% - 4vmax);
  padding: 0 2vmax ;
  display: grid;
  grid-template: 100% / 1fr 1fr 1fr;
}

.site-logo {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  width: 13vmax;
}

.score-cntr {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.score-title {
  margin-bottom: 0.5vmax;
  line-height: 2.5vmax;
  font-size: 2vmax;
  font-weight: 200;
}

.score {
  font-size: 2.5vmax;
  font-weight: 600;
}