#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.color-cntr {
  width: 50%;
  height: 35vh;
  margin: auto;
  border-radius: 2rem;
  display: grid;
  grid-template: 1fr / 1fr;
}

.color-cntr > div {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}

.color-btn {
  margin: 1rem;
}
